.hero-container {
    display: flex;
    justify-content: center;

    .hero-title {
        background: $mainBlue;
        border-bottom: 4px solid $mainGreen;
        color: $mainGreen;
        padding: $smallSpacing $mediumSpacing;
        border-radius: 4px;
    }
}
.filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .select-btn {
        margin: $smallSpacing/2 $smallSpacing;
    }
}

.employee-container {
    display: flex;
    flex-wrap: wrap;

    .employee-card {
        transform: scale(1);
        animation-name: pulse;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        border-bottom: 4px solid $mainGreen;
        border-radius: 4px;
        margin: 0 $smallSpacing/2 $smallSpacing;
        flex-grow: 1;
        display: flex;
        align-content: center;
        flex-direction: column;
        font-size: $mainFontSize;
        padding: $smallSpacing;

        @media (min-width: 992px) {
            flex-basis: calc(33% - #{$largeSpacing});
        }
        &:hover {
            animation: pulse ease-in-out 3s alternate 0.6s infinite;
        }
        .employee-content {
            display: flex;

            .employee-left-content {
                flex: 1 0 75%;
                display: flex;
                flex-direction: column;
                .employee-office {
                    flex: 1;
                    padding: $smallSpacing 0;
                }
                .employee-name {
                    flex: 1;
                    font-weight: 700;
                    padding: $smallSpacing 0;
                }
            }
            .employee-image-container {
                flex: 0 0 25%;
                text-align: center;
                justify-self: center;
                position: relative;
                .employee-image {
                    width: 100%;
                }
            }
        }
    }
}
