body {
    scroll-behavior: smooth;
    overflow-x: hidden;

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
h1 {
    text-align: center;
}
ul,
li {
    list-style: none;
    text-decoration: none;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    margin-bottom: $smallSpacing;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus-visible {
        outline: none;
    }
}
.btn {
    padding: $smallSpacing $mediumSpacing;
    font-size: $mainFontSize;
    background: none;
    border: 3px solid $mainBlue;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
        background: $mainBlue;
        color: white;
        cursor: pointer;
    }
    &:focus {
        background: $mainBlue;
        color: white;
    }
}
