$mainGreen: #80c565;
$mainBlue: #002b55;
$mainGrey: #565e67;

$smallSpacing: 24px;
$mediumSpacing: 48px;
$largeSpacing: 96px;

$mainFontSize: 20px;
$smallFontSize: 16px;

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}
